<style>
    input.ng-invalid.ng-dirty {
        border: 3px red solid;
    }
</style>

<sm-menu title="Angular2" class="inverted teal" logo="https://ng-semantic.herokuapp.com/demo/assets/images/semantic.png">
</sm-menu>
<div class="ui grid">
    <div class="row">
         <div class="four wide column centered">
    <div class="ui error message" *ngIf="usernameCtrl.dirty && usernameCtrl.hasError('required')">
        <div class="header">Email requerido</div>
        <p>Por favor ingresa una dirección de correo valida.</p>
    </div>

    <div class="ui error message" *ngIf="usernameCtrl.dirty && usernameCtrl.hasError('minlength')">
        <div class="header">Email muy corto.</div>
        <p>Ingresa una dirección de correo valida.</p>
    </div>

    <div class="ui error message" *ngIf="passwordCtrl.dirty && passwordCtrl.hasError('required')">
        <div class="header">Ingresa contraseña.</div>
         <p>Es necesario ingresar contraseña.</p>
    </div>

    <h1>Inicio de sesión</h1>
    <form class="ui form" (ngSubmit)="login()" [formGroup]="userForm">
    <div class="field">
        <label>Email:</label>
        <input type="email" formControlName="username">
    </div>
    <div class="field">
        <label>Password</label>
        <input type="password" formControlName="password">
    </div>
    <!--<a href="" routerLink="register"><button class="positive ui button">Registrarse</button></a>-->
    <button class="ui button centered" type="submit" [disabled]="!userForm.valid">Iniciar sesión</button>
    </form>
</div>
    </div>
</div>




