<sm-menu title="Angular2" class="inverted teal" logo="https://ng-semantic.herokuapp.com/demo/assets/images/semantic.png">
    <a sm-item *ngFor="let item of items" [icon]="item.icon">{{item?.title}}</a>

    <sm-menu class="menu right secondary">
        <a sm-item href="#/elements/menu" 
            image="http://semantic-ui.com/images/avatar/small/stevie.jpg">Elliot Fu</a>
        <a sm-item icon="sidebar big" (click)="invertedSidebar.show({transition: 'overlay'})"></a>
        <sm-sidebar class="right vertical sidebar labeled  menu" #invertedSidebar>        
            <a class="item">
                <i class="home icon"></i> Home
            </a>
            <a class="item">
                <i class="block layout icon"></i> Topics
            </a>
            <a class="item">
                <i class="smile icon"></i> Friends
            </a>
        </sm-sidebar>
    </sm-menu>
</sm-menu>
<router-outlet></router-outlet>