<sm-menu title="Angular2" class="inverted teal" logo="https://ng-semantic.herokuapp.com/demo/assets/images/semantic.png">
    <a sm-item *ngFor="let item of items" [icon]="item.icon">{{item?.title}}</a>

    <sm-menu class="menu right secondary">
        <a sm-item  
            image="http://semantic-ui.com/images/avatar/small/justen.jpg">Gerson Flores</a>
        <a sm-item icon="sidebar big" (click)="invertedSidebar.show({transition: 'overlay'})"></a>
        <sm-sidebar class="right vertical sidebar labeled  menu" #invertedSidebar>        
            <a class="item">
                <i class="home icon"></i> Inicio
            </a>
            <a class="item">
                <i class="block layout icon"></i> Información
            </a>
           
        </sm-sidebar>
    </sm-menu>
</sm-menu>
<div class="ui grid">
    <div class="row">
        <div class="fifteen wide column centered">
            <router-outlet></router-outlet>
        </div>  
    </div>
</div>