<style>
    input.ng-invalid.ng-dirty {
        border: 3px red solid;
    }
</style>

<form class="ui form" [formGroup]="expenseForm">
    <div class="field">
        <label>Categoría:</label>
        <select class="ui search dropdown" formControlName="category">
            <option value="Transporte">Transporte</option>
            <option value="Alimentos">Alimentos</option>
            <option value="Vivienda">Vivienda</option>
            <option value="Entretenimiento">Entretenimineto</option>
            <option value="Servicios">Servicios</option>
            <option value="Mascota">Mascota</option>
            <option value="Deudas">Deudas</option>
            <option value="Familia">Familia</option>
        </select>
    </div>
     <div class="field">
        <label>Descripción:</label><textarea rows="2" formControlName="description"></textarea>
        <div *ngIf="descriptionCtrl.dirty && descriptionCtrl.hasError('required')">Descripción es requerida</div>
        <div *ngIf="descriptionCtrl.dirty && descriptionCtrl.hasError('minlength')">Descripción muy corta</div>
    </div>
    <div class="field">
        <label>Cantidad</label>
        <input type="number" formControlName="amount">
        <div *ngIf="amountCtrl.dirty && amountCtrl.hasError('required')">Es necesario ingresar una cantidad.</div>
    </div>
</form>